@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#headerBGDiv {
  height: 50%;
  width: 100%;
  left: 0%;
  top: 0%;

  background-image: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);

  transform: scale(1.05);

  position: fixed;
  overflow: hidden;

  z-index: -3;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  /* filter: blur(0px); */

  transition: height 0.2s ease-in-out, filter 0.3s ease-in-out;
}

#headerBGImg {
  height: 50%;
  width: 100%;
  left: 0%;
  top: 0%;

  background-image: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);

  z-index: -2;

  transform: scale(1.05);

  position: fixed;
  overflow: hidden;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  filter: blur(10px);
  opacity: 0%;

  transition: filter 0.75s ease-in-out, opacity 0.3s ease-in-out;
}


b {
  font-weight: 700;
}

body:after{
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerBar {
  /* background-color: rgba(0,0,255,0.3); */
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 60px;
  z-index: 1;
  overflow: show;
}

#title {
  /* Positioning */
  font-size: 48px;
  position: absolute;
  top: -5px;
  left: 60px;

  /* Hide the fact it's a button */
  background-color: rgba(0,0,0,0);
  border: none;

  /* Misc */
  color: rgba(0,124,65,1);
  text-align: left;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.subTitle {
  font-size: 48px;
  color: rgba(0,0,0,1);
  text-align: left;
  position: relative;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  /* text-shadow: 0px 0px 20px rgba(0,0,0,0.3); */
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0px;
  padding-top: 15px;

  /* background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  /* background-color: rgba(0,0,255,0.3); */
}

.subSubTitle {
  font-size: 36px;
  color: rgba(30,30,30,1);
  text-align: left;
  /* text-shadow: 0px 0px 20px rgba(0,0,0,0.3); */
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.subSubSubTitle {
  font-size: 30px;
  color: rgba(30,30,30,1);
  text-align: left;
  /* text-shadow: 0px 0px 20px rgba(0,0,0,0.3); */
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.paragraph {
  font-size: 20px;
  color: rgba(30,30,30,1);
  text-align: left;
  font-weight: 400;
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
}


.paragraphGradHeader {
  font-size: 20px;
  /* color: rgba(30,30,30,1); */
  text-align: left;
  font-weight: 400;
  margin-top: -20px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;

  /* background: linear-gradient(80deg, rgba(255,40,147,1) 0%, rgba(18,76,255,1) 100%); */
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraphGradHeaderPlatinum {
  font-size: 20px;
  /* color: rgba(30,30,30,1); */
  text-align: left;
  font-weight: 400;
  margin-top: -20px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;


  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(30deg, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(30deg, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraphGradHeaderGold {
  font-size: 20px;
  /* color: rgba(30,30,30,1); */
  text-align: left;
  font-weight: 400;
  margin-top: -20px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;


  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(30deg, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(30deg, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraphGradHeaderSilver {
  font-size: 20px;
  /* color: rgba(30,30,30,1); */
  text-align: left;
  font-weight: 400;
  margin-top: -20px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;


  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(30deg, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(30deg, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraphGradHeaderBronze {
  font-size: 20px;
  /* color: rgba(30,30,30,1); */
  text-align: left;
  font-weight: 400;
  margin-top: -20px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;


  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(30deg, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(30deg, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.paragraphGradHeaderCommunity {
  font-size: 20px;
  /* color: rgba(30,30,30,1); */
  text-align: left;
  font-weight: 400;
  margin-top: -20px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;


  background: #ef32d9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(30deg, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(30deg, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#uncoloredLink {
  color: rgba(30,30,30,1);
}

.centredText {
  text-align: center;
}

#headerImg {
  /* Positioning */
  height: 48px;
  width: auto;
  left: 6px;
  top: 6px;
  position: absolute;

  /* Misc */
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.popup {
  /* Dimmed background */
  display: none; /* Changed to flex, to allow for centring */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.75);
  z-index: 1001;

  justify-content: center;
  align-items: center;

  opacity: 0%;
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.popup div {
  background-color: rgba(240,240,240,1);
  border-radius: 20px;
  padding: 2%;

  width: 80%;
  max-height: 80%;
  text-align: left;
  display: block;
  transition: background-color 0.2s ease-in-out;

  animation-name: dropIn;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;

  overflow: scroll;

  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
}

.popupClose {
  font-size: 45px;
  position: fixed;
  right: 25px;
  top: 5px;
  margin-top: 0px;

  opacity: 50%;
  transition: opacity 0.2s ease-in-out;

  cursor: pointer;
}

.popupClose:hover {
  opacity: 100%;
}

@keyframes dropIn {
  0% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}


.tab {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.tab button {

    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.25s;
    color: rgba(255,255,255,1);

    flex-grow: 1;

    /* background-color: rgba(255,255,255,0.25); */
    background-color: inherit;

    border-radius: 25px;

    font-size: 48px;

    font-weight: 900;
    font-family: 'Montserrat', sans-serif;

    padding-left: 10px;
    padding-right: 10px;
    /* margin-left: 10px; */

    min-width: 275px;
}

.tab button:hover {
  background-color: rgba(255,255,255,0.15);
}

.tab button.active {
  background-color: rgba(255,255,255,0.15);
}

.tab button:active {
	background-color: rgba(255,255,255,0.2);
	transform: scale(0.9);
}

.tabcontent {
  opacity: 0%;
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.pageLink {
  /* Positioning */
  position: relative;
  float: right;
  right: 10px;
  top: 6px;
  font-size: 20px;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;

  /* Hide the fact that they are buttons */
  /* background-color: rgba(0,0,0,0); */
  /* border: none; */

  /* Misc */
  /* color: rgba(255,255,255,1); */
  z-index: 2;
  cursor: pointer;
  /* font-weight: 400; */
  /* font-family: 'Montserrat', sans-serif; */
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;

  /* background-color: rgba(0,0,0,0.4); */
  border-radius: 50px;

  /* Blurred Background */
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */

  /* Drop Shadow */
  /* -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5); */


  background-color: rgba(240,240,240,1);
  color: rgba(0,0,0,0.8);

  font-weight: 900;
  font-family: 'Montserrat', sans-serif;

  border: none;
  /* border-style: solid;
  border-width: 2px;
  border-color: rgba(0,0,0,0); */
  /* border-image: linear-gradient(to right, #16faab, #00f7ff); */
}

.pageLink:hover {
  transform: scale(1.1);
}

.multiPageLink:hover .subPageLink {
  opacity: 1;
}

.pageLink:active {
  background-color: rgba(0,0,0,0.7);
  transform: scale(1);
}



.subPageLink {
  /* Positioning */
  position: absolute;
  /* float: right; */
  right: 100px;
  top: 64px;
  font-size: 20px;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;

  z-index: 200;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;

  border-radius: 50px;

  background-color: rgba(240,240,240,1);
  color: rgba(0,0,0,0.8);

  font-weight: 900;
  font-family: 'Montserrat', sans-serif;

  border: none;

  opacity: 0;
}

.subPageLink:hover {
  transform: scale(1.1);
}

.subPageLink:active {
  background-color: rgba(0,0,0,0.7);
  transform: scale(1);
}


.multiPageLink {
  background-color: rgba(255,0,0,0.7);
}




#currentPageLink {
  border: solid;
  border-width: 2px;
  border-color: rgba(240,240,240,1);
  background: transparent;
  color: rgba(240,240,240,1);
}

#currentPageLink:active {
  background-color: rgba(240,240,240,1);
}

#burger {
  position: fixed;
  right: 14px;
  top: 14px;
  z-index: 3;
  display: none;
}

.burgerPart {
  background-color: #FFFFFF;
  position: relative;
  width: 39px;
  height: 10px;
  border-radius: 5px;
  margin: 4.5px;
  transition: all 0.25s ease-in-out;
}

/* Hover effects act weird on mobile */
/* #burger:hover .burgerPart {
  background-color: rgba(200,200,200,1);
} */

#burger:active .burgerPart {
  background-color: rgba(160,160,160,1);
}

.mobileMenu {
  position: fixed;
  top: 75px;
  right: 0px;
  height: -webkit-calc(92.3% - 75px);
  height: -moz-calc(92.3% - 75px);
  height: calc(92.3% - 75px);
  width: 60%;
  padding-bottom: 10%;

  background-color: rgba(0,0,0,0.3);
  z-index: 200;
  border-radius: 50px 0px 0px 50px;

  /* Blurred Background */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  /* display: none; */
  overflow: scroll;

  transform: translateX(100%);

  transition: transform 0.5s ease-in-out;
}

.mobileMenuActivated {
  transform: translateX(0%);
}

.mobilePageLink {
  position: relative;
  left: 10%;
  height: 12.5%;
  min-height: 100px;
  width: 80%;
  margin-top: 10%;

  background-color: rgba(240,240,240,1);
  border-radius: 50px;
  align-items: center;
  z-index: 201;
  font-size: 7vw;
  color: rgba(0,0,0,0.8);

  cursor: pointer;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.2s ease-in-out;

  /* Hide the fact that they are buttons */
  /* border: none; */
  opacity: 0;

  border-style: solid;
  border-width: 2px;
  border-color: rgba(0,0,0,0);
}

.mobilePageLink:hover {
  /* background-color: rgba(0,0,0,0.7); */
}

.mobilePageLink:active {
  /* background-color: rgba(255,255,255,0.7); */
  background-color: rgba(0,0,0,0.7);
  transform: scale(1);
}


/* Top Drop Shadow */
body::before {
  content: "";
  position: fixed;
  top: -30px;
  left: 0;
  width: 100%;
  height: 0.5vh;
  -webkit-box-shadow: 0px 29px 80px 80px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 29px 80px 80px rgba(0,0,0,0.8);
  box-shadow: 0px 29px 80px 80px rgba(0,0,0,0.8);
  z-index: -1;
}

body {
  position: relative;
  font-family: Helvetica;
  overflow-x: hidden;
  background-color: rgba(240,240,240,1);
}

#main {
  width: 100%;
  heigth: auto;

  overflow: hidden;

  /* min-height: -webkit-calc(100% - 75px);
  min-height: -moz-calc(100% - 75px);
  min-height: calc(100% - 75px); */
  min-height: 100%;

  top: 30%;
  left: 0%;
  position: static;
  background-color: rgba(225,225,225,1);
  /* padding: 2%; */
  z-index: -3;
  transition: z-index 0.5s ease-in-out 0.25s;

  /* Drop Shadow */
  -webkit-box-shadow: 0px 0px 37px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 37px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 37px 3px rgba(0,0,0,0.5);
}

#divAboveMainForGradient {
  position: -webkit-sticky; /* Safari */
  position: sticky;

  top: 0px;

  z-index: 100;

  width: 100%;
  height: 5px;

  /* background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%); */
  background: linear-gradient(90deg, #7967e1 0%, #1B9FD6 100%);
}

#divAboveMainForSnapping {
  position: static;
  /* background-color: rgba(0,255,255,0.5); */
  top: 0%;
  left: 0%;
  height: 30%;
  width: 100%;

  scroll-snap-align: end;
}

#scrollContainer {
	left: 0%;
	top: 75px;
	width: 100%;

	height: -webkit-calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  height: calc(100% - 60px);

	/* background-color: rgba(0,255,0,0.5); */
	position: fixed;
	overflow: scroll;


  /*** The following 3 lines are responsible for enabling scroll snapping ***/
	/* scroll-snap-type: y proximity;
	-webkit-scroll-snap-type: y proximity;
  -webkit-overflow-scrolling: touch; */
  /*** The preceeding 3 lines are responsible for enabling scroll snapping ***/

	/* -webkit-scroll-snap-points-y: repeat(100%); */
  /* scroll-snap-points-y: repeat(100%); */
  z-index: 101;
}

#scrollContainer #main {
  scroll-snap-align: start;
  /* scroll-margin: 0px; */
}

.toggle #topBun {
  transform: rotate(-45deg) translate(-10.5px,9.5px);
}
.toggle #patty {
  opacity: 0;
}
.toggle #bottomBun {
  transform: rotate(45deg) translate(-10.5px,-10px);
}

#eventImage {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
}

#eventImage:hover {
  transform: scale(1.05);
}

#eventImage:active {
  transform: scale(1);
}

#eventImageNoHover {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
}

#eventImageWideFrame {
  height: 100px;
  width: 300px;
}

#eventImageNoHoverWide {
  height: 100px;
  max-width: 100%;
}

#smallInfoBlockMedia {
  display: table;
  width: 300px;
  text-align: center;
  margin-right: 15px;
}

#smallInfoContents {
  display: flex;
  /* flex: 0 0 300px; */

  /* background-color: rgba(0,0,255,0.5); */

  /* display: inline; */

  /* width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px); */
  /* width: 75%; */
  /* position: relative; */
}

#smallInfoBlockText {
  position: relative;

  /* padding-left: 20px;
  padding-right: 20px; */
  /* width: -webkit-calc(100% - 80px);  300 + 2*20padding
  width: -moz-calc(100% - 80px);
  width: calc(100% - 80px); */
  /* width: 100%; */

  padding: none;
  margin: none;

  /* top: -30px; */
  /* background-color: rgba(255,0,0,0.5); */

  flex: 1;
}

#smallInfoBlock {
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
  padding: 2%;
  margin: 2%;
  text-align: left;
  display: block;
  transition: background-color 0.2s ease-in-out;
  /* display: flex; */

  /* -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1); */
}

#smallInfoBlock:hover {
  background-color: rgba(255,255,255,0.95);
}

#smallInfoBlockSubSection {
  border-radius: 20px;
  /* border: 2px solid rgba(240,240,240,1); */
  padding: 2%;
  padding-right: 4%;
  margin: 2%;
  /* text-align: left; */
  /* display: block; */
  transition: box-shadow 0.2s ease-in-out;


  box-shadow: 1px 1px 37px -16px rgba(0,0,0,0.8);
  -webkit-box-shadow: 1px 1px 37px -16px rgba(0,0,0,0.8);
  -moz-box-shadow: 1px 1px 37px -16px rgba(0,0,0,0.8);
}

#smallInfoBlockSubSection:hover {
  box-shadow: 1px 1px 37px -5px rgba(0,0,0,0.8);
  -webkit-box-shadow: 1px 1px 37px -5px rgba(0,0,0,0.8);
  -moz-box-shadow: 1px 1px 37px -5px rgba(0,0,0,0.8);
}

.cardStack {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.homepageCardStack {
  min-width: 600px;
}

.homepageSmallInfoBlock {
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
  padding: 2%;
  margin: 2%;
  text-align: left;
  display: block;
  transition: background-color 0.2s ease-in-out;
}

.homepageSmallInfoBlock:hover {
  background-color: rgba(255,255,255,0.95);
}

#darkSmallInfoBlock {
  background-color: rgba(255,255,255,0.05);
  border-radius: 20px;
  padding: 2%;
  margin: 2%;
  text-align: left;
  display: block;
  transition: background-color 0.2s ease-in-out;
}

#darkSmallInfoBlock:hover {
  background-color: rgba(255,255,255,0.15);
}


#contentContainer {
  transition: opacity 0.5s ease-in-out;
}



.speakerList {
  max-height: 80vh;
  overflow: scroll;
  display: none;
}

.speakerList div {
  opacity: 0%;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.smallInfoCardContentContainer {
  /* max-height: 80vh;
  overflow: scroll;
  display: none; */
  position: relative;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* .smallInfoCardContentContainer div {
  opacity: 0%;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
} */

.curriculumTableContainer {
  /* overflow-y: auto;
  height: 400px; */
  display: none;
  overflow: scroll;
}

.curriculumTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px 5px;
  margin-top: -30px;
  posiiton: relative;
}

.curriculumTable tr {
  opacity: 0%;
  posiiton: relative;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.curriculumTable tr td,
.curriculumTable tr th{
  padding: 10px;

  font-size: 20px;
  color: rgba(30,30,30,1);
  text-align: left;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.curriculumTable tr td {
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
  transition: background-color 0.2s;
  text-align: center;
}

.curriculumTable tr td:hover {
  background-color: rgba(0,0,0,0.4);
}

.curriculumTable tr #num {
  font-weight: 700;
}

.curriculumTable tr th {
  position: sticky;
  top: -10px;
  font-weight: 700;
}

.curriculumTableHeaderSizer2 {
  width: 88%;
  min-width: 200px;
}

.curriculumTableHeaderSizer {
  width: 22%;
  min-width: 200px;
}

.curriculumTableHeaderSizerTime {
  min-width: 150px;
}

#ctHalfHeight {
  line-height: 10px;
}

/* Alternate Colours */
#ctbgRed {
  background-color: rgba(255,0,0,0.2);
}

#ctbgRed:hover {
  background-color: rgba(255,0,0,0.4);
}

#ctbgPink {
  background-color: rgba(189,30,107,0.2);
}

#ctbgPink:hover {
  background-color: rgba(189,30,107,0.4);
}

#ctbgPurple {
  background-color: rgba(182,66,245,0.2);
}

#ctbgPurple:hover {
  background-color: rgba(182,66,245,0.4);
}

#ctbgBlue {
  background-color: rgba(0,0,255,0.2);
}

#ctbgBlue:hover {
  background-color: rgba(0,0,255,0.4);
}

#ctbgGreen {
  background-color: rgba(0,255,0,0.2);
}

#ctbgGreen:hover {
  background-color: rgba(0,255,0,0.4);
}

#ctbgInvisible {
  background-color: rgba(0,0,0,0);
}
/* Alternate Colours */


@keyframes fadeIn {
  0%   {opacity: 0%;}
  100%  {opacity: 100%;}
}




/* Display Alternate Info */
.altInfoContainer .altInfo {
  display: none;
}

.altInfoContainer:hover .altInfo {
  display: inline;
}

.altInfoContainer:hover .primaryInfo {
  display: none;
}




#smallButton {
  border: none;
  background-color: rgba(0,0,0,0.8);
  border-radius: 50px;
  color: rgba(240,240,240,1);
  margin-top: 20px;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

  height: 50px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#smallButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#smallButton:active {
  background-color: rgba(255,255,255,0.7);
  transform: scale(1);
}

#contactButton {
  border: none;
  background-color: rgba(0,0,0,0.8);
  border-radius: 50px;
  color: rgba(240,240,240,1);
  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

  height: 50px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#contactButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#contactButton:active {
  background-color: rgba(255,255,255,0.7);
  transform: scale(1);
}

#newsletterButton {
  border: none;
  background-color: rgba(0,0,0,0.8);
  border-radius: 20px;
  margin: 1%;
  color: rgba(240,240,240,1);
  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  vertical-align: middle;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 70px;
}

#newsletterButton:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: none;
}

#newsletterButton:active {
  background-color: rgba(255,255,255,0.7);
  transform: scale(1);
  text-decoration: none;
}

.greyBG {
  /* border-radius: 50px; */
  background-color: rgba(48,48,48,1);
  margin-top: 10px;
  padding-top: 1px;
  padding-bottom: 20px;
}

.greyBG #smallButton {
  background-color: rgba(240,240,240,1);
  color: rgba(48,48,48,1);
}

.greyBG #smallButton:active {
  background-color: rgba(240,240,240,0.7);
}

#viewPastExecsButton {
  border: none;
  background-color: rgba(0,0,0,0.8);
  border-radius: 50px;
  color: rgba(240,240,240,1);
  margin-top: 20px;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, height 0.2s ease-in-out;

  height: 50px;
  width:96%;
  left: 2%;
  position: relative;
  z-index: 2;
}

#viewPastExecsButton:hover {
  transform: scale(1.02);
  cursor: pointer;
}

#viewPastExecsButton:active {
  background-color: rgba(255,255,255,0.7);
  transform: scale(1);
  /* height: 500px; */
}

#viewPastExecsContentFull {
  color: rgba(240,240,240,1);
  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 15px;
  padding-bottom: 2%;
}

#viewPastExecsContent {
  /* border: none; */
  background-color: rgba(0,0,0,0.8);
  border-radius: 20px;
  color: rgba(240,240,240,1);
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.5s ease-in-out,
              transform 0.5s ease-in-out,
              height 0.5s ease-in-out,
              margin-top 0.5s ease-in-out,
              opacity 0.5s ease-in-out,
              padding-bottom 0.5s ease-in-out,
              padding-top 0.5s ease-in-out;

  height: 0px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  width:92%;
  left: 2%;
  position: relative;
  display: block;
  overflow: scroll;

  opacity: 0;
}

#viewPastExecsContentContainer {
  display: none;
}

#viewPastExecsContentScrollContainer {
  width: 99.5%;
  /* height: 300px; */
  overflow: scroll;
  overflow-y: hidden;

  /* display: inline-block; */
  /* grid-template-columns: auto auto auto; */
  grid-column-gap: 20px;
  /* padding: 10px; */
  /* border-radius: 20px; */
}

#interestedBlock {
  background-color: rgba(0,0,0,0.8);
  padding: 4%;
  /* text-align: center; */

  margin: 2%;
  border-radius: 20px;

  overflow: hidden;
  position: relative;

  /* -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1); */
}

#emailSignupConfirmation {
  background-color: rgba(0,0,0,0.8);
  padding: 4%;

  margin-left: 2%;
  margin-right: 2%;
  border-radius: 50px;

  width: 86.5%;

  overflow: hidden;
  position: fixed;
  top: 75px;

  /* Blurred Background */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#interestedLinksParent {
  width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}

#interestedLinks {
  list-style-type: none; /*to remove bullets*/
  text-align: center;
  /* margin: 0 auto; */
  padding: 0px;
  /* border:1px solid red; */
  /* display:table; */
  overflow: show;
  width: 100%;
}

#interestedLinks li {
  padding: 2%;
  width: 25%;
  display:inline-block;
}

#interestedLinks li button {
  border: none;
  background-color: rgba(240,240,240,1);
  border-radius: 50px;
  color: rgba(0,0,0,0.8);
  margin-top: 20px;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

  height: 100px;
  width: 100%;
}

#interestedLinks li button.contactPage {
  background-color: rgba(40,40,40,1);
  color: rgba(240,240,240,1);
}

#interestedLinks li button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#interestedLinks li button:active {
  background-color: rgba(0,0,0,0.7);
  transform: scale(1);
}

#interestedBlockContents {
  transition: transform 0.5s ease-in-out;
}

#mailingListSignup {
  position: absolute;

  top: 200px;
  left: 46%;
  transform: translate(-50%, -50%);

  /* background-color: red; */
  opacity: 0;
}

/* Make the form inline */
#mc_embed_signup {
  clear: left;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0 0 0px 1000px rgba(48,48,48,1) inset;
}

#mce-EMAIL {
  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;

  width: 100%;
  border: 0;
  border-bottom: 2px solid rgba(200,200,200,1);
  outline: 0;
  color: rgba(255,255,255,1);
  background: transparent;
  transition: border-color 0.2s;
}

#mce-EMAIL::placeholder {
  color: transparent;
}

/* Update the text box */
#mce-EMAIL:focus,
#mce-EMAIL:valid {
  border-image: linear-gradient(to right, #43ff00, #16faab);
  border-image-slice: 1;
}

#mce-EMAIL:focus:invalid,
#mce-EMAIL:not(:placeholder-shown):invalid {
  border-image: linear-gradient(to right, #ff0000, #f900a6);
  border-image-slice: 1;
}

/* Update the label */
#mce-EMAIL:focus + #signupLabel,
#mce-EMAIL:valid + #signupLabel {
  position: absolute;
  top: -15px;
  display: block;

  transition: 0.2s;
  font-size: 12px;
  color: #72ff00;
  font-weight:700;
}

#mce-EMAIL:focus:invalid + #signupLabel,
#mce-EMAIL:not(:placeholder-shown):invalid + #signupLabel {
  position: absolute;
  top: -15px;
  display: block;

  transition: 0.2s;
  font-size: 12px;
  color: #ff0000;
  font-weight:700;
}

/* Update the button */
#mce-EMAIL:focus ~ #mc-embedded-subscribe,
#mce-EMAIL:valid ~ #mc-embedded-subscribe {
  /* background-image: linear-gradient(to right, #16faab, #00f7ff); */
  border-image: linear-gradient(to right, #16faab, #00f7ff);
  border-image-slice: 1;
  color: #16faab;
}

#mce-EMAIL:focus:invalid ~ #mc-embedded-subscribe,
#mce-EMAIL:not(:placeholder-shown):invalid ~ #mc-embedded-subscribe {
  /* background-image: linear-gradient(to right, #f900a6, #f600ff); */
  border-image: linear-gradient(to right, #f900a6, #f600ff);
  border-image-slice: 1;
  color: #f900a6;
}

/* Update the buttons when they are hovered */
#mce-EMAIL:focus ~ #mc-embedded-subscribe:hover,
#mce-EMAIL:valid ~ #mc-embedded-subscribe:hover {
  background-image: linear-gradient(to right, #16faab, #00f7ff);
  color: rgba(48,48,48,1);
}

#mce-EMAIL:focus:invalid ~ #mc-embedded-subscribe:hover,
#mce-EMAIL:not(:placeholder-shown):invalid ~ #mc-embedded-subscribe:hover {
  background-image: linear-gradient(to right, #f900a6, #f600ff);
  color: rgba(48,48,48,1);
}

#mc-embedded-subscribe {
  position: absolute;
  top: -6px;
  left: 105%;

  border: 2px solid rgba(200,200,200,1);
  color: rgba(200,200,200,1);
  background: transparent;

  transition: transform 0.2s ease-in-out;

  font-size: 18px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;

  width: 125px;
  height: 40px;
}

#mc-embedded-subscribe:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#mc-embedded-subscribe:active {
  transform: scale(1);
}

#signupLabel {
  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;

  position: absolute;
  top: 0px;
  display: block;
  transition: 0.2s;

  color: rgba(200,200,200,1);
}

.execScrollContainer {
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;

  /* Nonsense to ensure that shadows display properly */
  padding-top: 25px;
  margin-top: -25px;
  padding-bottom: 25px;
  margin-bottom: -25px;
}

.execContainer {
  margin-right: 2%;
  display: inline-block;
  border-radius: 40px;
  height: 589px;
  width: 350px;
  overflow: hidden;
  vertical-align: top;
  overflow: hidden;

  text-align: center;

  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: rgba(255,255,255,0.7);

  -webkit-box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.69);
  box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.69);
}

.execContainer:hover {
  -webkit-box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.69);
  box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.69);
}

.execContainerScroll {
  border-radius: 40px;
  height: 480px;
  overflow: scroll;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.execContainerAnimation {
  height: 350px; /* transitions to 589px; */

  animation-timing-function: ease-in-out;
  animation-name: reveal;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  /* animation-play-state: paused; */
}

@keyframes reveal {
  from {height: 350px;}
  to {height: 589px;}
}

.execImageContainer {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 40px;
  display:flex;
  justify-content: center;

  -webkit-box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.69);
  box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.69);
}

.execImage {
  height: 400px;
}

.execName {
  font-size: 28px;
  color: rgba(30,30,30,1);
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.execTitle {
  font-size: 18px;
  color: rgba(30,30,30,1);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin-top: -10px;
  margin-bottom: 20px;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.execTitleGraddirectors {
  display: inline-block;
  background: #7F7FD5;
  background: -webkit-linear-gradient(120deg, #7F7FD5, #86A8E7, #91EAE4);
  background: linear-gradient(120deg, #7F7FD5, #86A8E7, #91EAE4);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.execTitleGraduofa {
  display: inline-block;
  background: rgba(0,124,65,1);
  background: -webkit-linear-gradient(120deg, rgba(0,124,65,1) 0%, rgba(255,219,5,1) 100%);
  background: linear-gradient(120deg, rgba(0,124,65,1) 0%, rgba(255,219,5,1) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.execTitleGraduofc {
  display: inline-block;
  background: rgba(214,0,28,1);
  background: -webkit-linear-gradient(120deg, rgba(214,0,28,1) 0%, rgba(255,205,0,1) 100%);
  background: linear-gradient(120deg, rgba(214,0,28,1) 0%, rgba(255,205,0,1) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item {
  background-color: rgba(255,255,0,0.5);
  height: 100px;
  width: 100px;
}

.execButton {
  position: relative;
  height: 50px;
  width: 320px;
  border-radius: 25px;

  text-decoration: none;

  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;

  display:flex;
  justify-content:center;
  align-items:center;

  background-color: rgba(51,51,51,1);
  color: rgba(240,240,240,1);

  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.execButton a {
  text-decoration: none;
  color: rgba(240,240,240,1);
}

.execButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.execButton:active {
  background-color: rgba(255,255,255,0.7);
  transform: scale(1);
}



/* TO BE REPLACED WITH NAT LOGO LOADER */
.loaderContainer {
  width: 100%;
}

.lds-dual-ring {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  left: 2%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  .lds-dual-ring:after {
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
  }
}
/* TO BE REPLACED WITH NAT LOGO LOADER */





#largeInfoBlock {
  margin: 2%;
  padding: 2%;
  padding-top: 0.001%;
  text-align: left;
  display: block;
  border-radius: 20px;

  transition: background-color 0.2s ease-in-out;
  background-color: rgba(255,255,255,0.7);

  /* -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1); */
}

#largeInfoBlock:hover {
  background-color: rgba(255,255,255,0.95);
}

#darkLargeInfoBlock {
  margin: 2%;
  padding: 2%;
  padding-top: 0.001%;
  text-align: left;
  display: block;
  border-radius: 20px;

  transition: background-color 0.2s ease-in-out;
  background-color: rgba(255,255,255,0.05);

  /* -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1); */
}

#darkLargeInfoBlock:hover {
  background-color: rgba(255,255,255,0.15);
}




#largeInfoContents {
  /* background-color: rgba(0,0,255,0.5); */
  display: flex;
  padding-top: 10px;
}

#largeMediaFrame {
  -webkit-mask-image: -webkit-radial-gradient(white, black);

  border-radius: 20px;
  overflow: hidden;
  height: 315px;
  width: 560px;
  transition: transform 0.2s ease-in-out;

  margin-top: 10px;
  position: relative;

  margin-right: 15px;
}

#largeMediaFrame:hover {
  transform: scale(1.05);
  border-radius: 20px;
}

#largeMediaFrame:active {
  transform: scale(1);
  border-radius: 20px;
}

#largeMediaFrameNoHover {
  border-radius: 20px;
  overflow: hidden;
  height: 315px;
  width: 560px;

  margin-top: 10px;
  position: relative;
}

#exampleGif {
  display: block;
  width: 60%;
  margin: 0 auto;
  border-radius:7px;
  transition: transform 0.2s ease-in-out;

  -webkit-box-shadow: -5px 5px 24px 3px rgba(0,0,0,0.47);
  box-shadow: -5px 5px 24px 3px rgba(0,0,0,0.47);
}

#exampleGif:hover {
  transform: scale(1.02);
}

#exampleGif:active {
  transform: scale(1);
}

.simpleImage {
  border-radius: 40px;
  width: 350px;

  transition: box-shadow 0.2s ease-in-out;

  -webkit-box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.69);
  box-shadow: 0px 0px 17px -9px rgba(0,0,0,0.69);
}

.simpleImage:hover {
  -webkit-box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.69);
  box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.69);
}

#smallImage {
  -webkit-mask-image: -webkit-radial-gradient(white, black);

  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;

  /* margin-top: 10px; */
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  /* position: relative; */
  height: 200px;
  width: 400px;
}

#smallImage:hover {
  border-radius: 10px;
  transform: scale(1.02);
  /* border-radius: 20px; */
}

#smallImage:active {
  border-radius: 10px;
  transform: scale(1);
  /* border-radius: 20px; */
}

.smallImageLarger {
  height: 400px;
  width: 800px;
}

#smallImageChild {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#mediumImage {
  -webkit-mask-image: -webkit-radial-gradient(white, black);

  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;

  /* margin-top: 10px; */
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  /* position: relative; */
  height: 355px;
  width: 470px;
}

#mediumImageChild {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#smallVideoPlayer {
  display: none;
  height: 169px;
  background-color: rgba(0,0,255,0.3);
}

#normalVideoPlayer {
  display: inline;
}

#largeInfoBlockText {
  /* background-color: rgba(255,255,0,0.5); */
  padding-left: 20px;
  padding-right: 20px;
  width: -webkit-calc(100% - 600px); /* 560 + 2*20padding */
  width: -moz-calc(100% - 600px);
  width: calc(100% - 600px);
}

#mediaGrid {
  text-align: center;
}

#socialGrid {
  text-align: center;
}

.mediaLogo {
  width: 90px;
  height: 90px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 20px;
  margin: 1%;
  display: inline-block;
  vertical-align: middle;

  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.mediaLogo img {
  width: 55px;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mediaLogo:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.mediaLogo:active {
  transform: scale(1);
}


#partners {
  background-color: rgba(0,0,0,0.8);
  padding-bottom: 4%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 2%;
  /* border-radius: 50px 50px 0px 0px; */
}

#partnersGrid {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.partnerLogo {
  /* width: 300px;
  height: auto; */

  width: auto;
  height: 75px;

  margin: 30px;
  transition: transform 0.2s ease-in-out;
}

.partnerLogo img {
  /* width: 100%; */

  height: 100%;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.partnerLogo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.partnerLogo:active {
  transform: scale(1);
}

.pastExecsTable th {
  font-size: 30px;
  text-align: left;
}

.pastExecsTable td {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
}

a.pastNewsletter {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

div.pastNewsletter {
  padding: 20px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 10px;

  transition: transform 0.2s ease-in-out;
}

div.pastNewsletter:hover {
  background-color: rgba(0,0,0,0.2);
  transform: scale(1.01);
}

div.pastNewsletter:active {
  transform: scale(1);
}


/* Loading Drip */
.spinner{
  position: absolute;
  top: 11vh;

  left: -webkit-calc(50% - 25px);
  left: -moz-calc(50% - 25px);
  left: calc(50% - 25px);

  width: 8vh;
  height: 8vh;

  opacity: 50%;

  border-top: 3px solid rgba(255,255,255,0.5);
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: rotation .8s linear infinite;

  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

}


@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
/* Loading Drip */


/* Change the layout for mobile */
/* Hide Title Last */
@media screen and (max-width:600px){
  #title {
    display: none;
  }

  #smallVideoPlayer {
    display: inline;
  }

  #normalVideoPlayer {
    display: none;
  }

  #largeInfoBlockMedia {
    display: grid;
    width: 300px;

    margin-right: 15px;
  }

  #largeMediaFrame {
    width: 300px;
    height: 168.75px;
    margin-top: 20px;
  }

  #largeMediaFrameNoHover {
    width: 300px;
    height: 168.75px;
    margin-top: 20px;
  }

  #mc-embedded-subscribe { /* Move the subscribe button */
    position: static;
    top: 0px;
    left: 0px;
    float: right;
  }

  #mailingListSignup { /* Centres the field since the subscribe button moved */
    left: 50%;
  }

  .subSubTitle {
    font-size: 26px;
  }

  .paragraph {
    font-size: 14px;
  }

  .subTitle {
    font-size: 32px;
  }

  #smallInfoBlockMedia {
    /* margin-bottom: 50px; */
    margin: 0 auto;
  }

  .homepageCardStack {
    min-width: 300px;
  }

  .curriculumTable tr td,
  .curriculumTable tr th{
    font-size: 14px;
  }

  .curriculumTableHeaderSizerTime {
    min-width: 100px;
  }

}

/* Hide Tabs First */
@media screen and (max-width:1110px){
  #burger {
    display: inline;
  }

  .pageLink {
    display: none;
  }

  #mobileMenu {
    display: inline;
  }

  /* Center Content */
  #largeMediaFrame {
    margin: 0 auto;
    margin-top: 20px;
  }

  #largeMediaFrameNoHover {
    margin: 0 auto;
    margin-top: 20px;
  }

  #smallInfoBlockMedia {
    margin: 0 auto;
    /* margin-bottom: 50px;
    margin-top: 20px; */

    /* width: 100%;
    height: auto; */
    width: 300px;
  }

  #largeInfoBlockMedia {
    margin: 0 auto;
    padding-top: 10px;
  }

  #largeInfoBlock {
    padding-top: 10px;
  }

  #smallInfoContents {
    display: inline;
  }

  #largeInfoContents {
    display: inline;
  }

  #smallInfoBlockText {
    width: -webkit-calc(100% - 40px); /* 2*20padding */
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
  }

  #largeInfoBlockText {
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
  }

  .subTitle {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  #interestedLinks li {
    display: inline;
  }

  #interestedLinks li button {
    width: 80%;
  }

  #exampleGif {
    width: 90%;
  }

  /* #divAboveMainForSnapping {
    height: 10%;
  } */
}

@keyframes mobilePageLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (prefers-color-scheme: dark) {
  .subTitle {
    color: rgba(255,255,255,1);
  }

  .subSubTitle {
    color: rgba(255,255,255,1);
  }

  .subSubSubTitle {
    color: rgba(255,255,255,1);
  }

  .paragraph {
    color: rgba(225,225,225,1);
  }

  #uncoloredLink {
    color: rgba(225,225,225,1);
  }

  /* .pageLink {
    background-color: rgba(40,40,40,1);
    color: rgba(240,240,240,1);
  } */

  #main {
    background-color: rgba(80,80,80,1);
  }

  body {
    background-color: rgba(80,80,80,1);
  }

  #smallInfoBlock {
    background-color: rgba(40,40,40,0.75);
  }

  #smallInfoBlock:hover {
    background-color: rgba(40,40,40,0.95);
  }

  .popup div {
    background-color: rgba(30,30,30,1);
  }

  .homepageSmallInfoBlock {
    background-color: rgba(40,40,40,0.75);
  }

  .homepageSmallInfoBlock:hover {
    background-color: rgba(40,40,40,0.95);
  }

  #smallButton {
    color: rgba(0,0,0,0.8);
    background-color: rgba(225,225,225,1);
  }

  .execButton {
    color: rgba(51,51,51,1);
    background-color: rgba(225,225,225,1);
  }

  .execButton a {
    color: rgba(51,51,51,1);
  }

  div.pastNewsletter {
    background-color: rgba(0,0,0,0.8);
  }

  div.pastNewsletter:hover {
    background-color: rgba(0,0,0,1);
  }

  .execContainer {
    background-color: rgba(40,40,40,0.75);
  }

  .execContainer:hover {
    background-color: rgba(40,40,40,0.85);
  }

  .execName {
    color: rgba(255,255,255,1);
  }

  .execTitle {
    color: rgba(255,255,255,1);
  }

  #largeInfoBlock {
    background-color: rgba(40,40,40,0.75);
  }

  #largeInfoBlock:hover {
    background-color: rgba(40,40,40,0.95);
  }

  #interestedLinks li button.contactPage {
    background-color: rgba(240,240,240,1);
    color: rgba(0,0,0,0.8);
  }

  .greyBG {
    background-color: rgba(0,0,0,1);
  }

  #darkSmallInfoBlock {
    background-color: rgba(255,255,255,0.1);
  }

  #darkSmallInfoBlock:hover {
    background-color: rgba(255,255,255,0.09);
  }

  .spinner{
    border-top: 3px solid rgba(0,0,0,0.5);
  }

  .curriculumTable tr td,
  .curriculumTable tr th{
    color: rgba(225,225,225,1);
  }

  .curriculumTable tr td {
    background-color: rgba(0,0,0,0.5);
  }

  .curriculumTable tr td:hover {
    background-color: rgba(0,0,0,0.7);
  }

  #darkLargeInfoBlock {
    background-color: rgba(255,255,255,0.1);
  }
}
